.banner {
  padding: adaptiv-prop(70, 30) 0;
  position: relative; 
  
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../../../public/lemon.png);
    background-position: 0% 50% ;
    background-repeat: no-repeat;
    width: adaptiv-prop(100, 50);
    height: 200px;
    background-size: contain;
  }

  @media all and (max-width: 1200px) {
    padding: adaptiv-prop(70, 30) 0 adaptiv-prop(200, 150);
  }
}
.banner__container {
  @include container-fix;
  display: grid;
  grid-template-columns: 50% 50%;

  @media all and (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
}

.banner-info {
  margin: auto;
  gap: 2rem;
}
.banner-info__text {
  @include text;
  margin-bottom: 4rem;
}

.banner-info__text--accent {
  color: $brand-700;
  margin-bottom: 2rem;
}

.banner-info__title {
  @include title;
  margin-bottom: 2rem;
}
.banner__graphick {
  max-width: 100%;
  position: relative;
  height: max-content;margin: auto;
}

.banner-graphick__image {
  max-width: 100%;
}

.banner-graphick__image-1 {
  position: absolute;
  bottom: -7%;
  left: 25%;
  max-width: 20%;
}

.banner-graphick__image-2 {
  position: absolute;
  bottom: -9%;
  left: 55%;
  max-width: 20%;
}

.banner-graphick__image-3 {
  position: absolute;
  bottom: 10%;
  right: 4%;
  max-width: 20%;
}


.banner-info__button {
  @include button
}

