@import './dark';

$primary: var(--primary);
$primary-700: var(--primary-700);
$primary-800: var(--primary-800);
$secondary: var(--secondary);
$secondary-300: var(--secondary-300);
$brand: var(--brand);
$brand-700: var(--brand-700);